SECRET_KEY="django-insecure-e#ue2$n%1rsxx#+n2iw)^_=gab+)8=$kq07#n&m5!!3ye0xm-#"
DEBUG=1
ALLOWED_HOSTS="127.0.0.1 00.00.00 localhost"
DATABASE_NAME="arser_wallet"
DATABASE_HOST="database"
DATABASE_PORT="5432"
DATABASE_PASSWORD="admin"
DATABASE_USER="admin"
MONERO_HOST="217.28.220.195"
MONERO_PORT="28088"
MONERO_USER="gagtains"
MONERO_PASSWORD="1"
FROM_ADDRESS_TRON="TPJkxGkr9ny6uCUSLbTssMd5umb5enSYZW"
PRIVATE_KEYS_FROM_ADDRESS_TRON="80372a65283f3134aef6e9dc39e72d1800ebb91077b7e80551f88d3dd4f037d2"